/*
Project Name: Haley Smith Portfolio Site
Developer: @needleinthehaley in Chicago
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
	font-family: 'Varela Round', sans-serif;
	background-color: #E75A32;
}

/******************************************
/* LAYOUT
/*******************************************/
/*.bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: #E75A32;
	background-size: cover;
	z-index: -10;
}*/


#wrapper {
	width: 50%;
 	height: 90%;
 	overflow: auto;
 	margin: auto;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

h1, h2, p, ul {
	text-align: center;
	width: 100%;
}

h3 {
	float: left;
	margin-left: 200px;
	position: relative;
	z-index: 20;
	background-color: #202020;
}


a.button {
	display: inline-block;
	text-align: center;

}

/*ul {
	display: inline-block;
}*/
/*
header {
	height: 120px;
	width: 100%;
}*/

/*nav li {
	float: right;
	display: inline-block;
	padding-right: 40px;
}*/

#tag {
	display: inline-block;
	padding-left: 40px;
	float: left;
}

.hamburger {
	width: 60px;
	height: 60px;
	float: right;
	display: inline-block;
	margin: 0;
	padding: 11px 0 0;
	border: 1px solid gray;
	display: none;
}

.container {
	position: relative;
	width: 100%;
	height: 400px;
}

.container li {
	float: left;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 10px;
}

.container li:first-of-type {
	margin-left: 4%;

}


footer {
	width: 100%;
	background-color: #E75A32;
	margin-top: 20px;
	height: 100px;
}

#social_portfolio li {
	list-style-type: none;
	float: right;
	display: inline;
	margin-top: 15px;
	margin-left: 2%;
	margin-right: 2%;
}

a.hover_text {
    position: relative;
    text-align: center;
}

  a.hover_text:after {
    content: attr(title);
    position: absolute;
    max-width: 400px;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    color: white;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hover_text:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
  }



/******************************************
/* PAGES
/*******************************************/

/******************************************
/* SECTIONS
/*******************************************/
h1, h2, h3, p, #social {
	color: #F2DEE6;
 
 }

h1 {
	font-weight: 100;
	font-size: 60px;
	letter-spacing: 2px;
}

h2 {
	font-weight: 5;
	font-size: 18px;
	letter-spacing: 2px;
}

h3 {
	font-weight: 80;
	font-size: 40px;
	letter-spacing: 2px;
}

h4 {
	color: #F2DEE6;
	font-weight: 100;
	font-size: 30px;
	letter-spacing: 2px;
}

p {
	font-weight: 5;
	font-size: 15px;
	letter-spacing: 2px;
}

/*nav a {
	text-decoration: none;
}*/

#tag, nav a {
	color: #202020;
}

.button-container {
	text-align: center;
}

a.button {
	border: 1px solid transparent;
	width: 20%;
	outline: none;
	background-color: #202020;
	padding: 20px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	transition: background-color .3s ease-in-out;

}

a.button:hover {
  background-color: #ED7353;
  border-color: #ED7353; 
  color: #ae9c96;
}

/*nav a:hover {
	color: #f9f1b5;
}*/

ul {
	list-style-type: none;
}


.hamburger li {
	height: 4px;
	width: 80%;
	margin: 6px auto;
}

/******************************************
/* SMALLER SCREENS
/*******************************************/

/*@media screen and (max-width: 800px) {
nav li {
	visibility: hidden;
}

.hamburger {
	display: block;
}

@media screen and (max-width: 1200px) {

nav li {
	width: 100%;
	float: none;
	margin: 10px 0 0;
}*/

/******************************************
/* Vertical Nav
/*/
#sidebar {
	height: 100%;
	width: 250px;
	z-index: 10;
	position: fixed;
	display: block;
	background: #E78A7F;
	padding: 50px;
	margin: 0;
}

nav .portfolio {
  list-style: none;
  font-size: 1em;
  padding: 0;
  margin-top: 100px;
}

.sub_portfolio {
	list-style: none;
	font-size: 1em;
	padding: 0;
	margin-top: 0px;
}

nav li a{
  text-decoration: none;
  display: block;
}

nav .portfolio li a{
  padding: 5px 10px 5px 10px;
  background: #E78A7F;
  color: white;
}

nav .sub_portfolio li a{ background: white; color: #E75A32;}

nav .portfolio a:hover{ background: #E75A32;}
nav .sub_portfolio a:hover{ background: #999;}

ul.portfolio > li:hover > ul.sub_portfolio{ 
  display: block; 
  position: absolute;
  left: 150px; top: 0;
}

ul.portfolio > li{ position: relative;}

ul.sub_portfolio{ display: none; }

.plus{ float: right; } 

/******************************************
/* Slideshow
/*/
@baseBg: #ececec;
@baseTxt: #3f3739;
@hoverColor: #5fd8dd;
body{
  background-color: @baseBg;
  color: @baseTxt;
}
a{
  color: @baseTxt;
  text-decoration: none;
}

.slideshow{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px auto 0px auto;
  text-align: center;
}
.slide{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.overlay{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
}
.overlay-shadow{
  box-shadow: inset 0px 0px 10px #000;
  opacity: 0.6;
}
.overlay-highlight{
  background: -webkit-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -moz-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -ms-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  opacity: 0.4;
}
.active{
  opacity: 1;
}

.slide img.horizontal{
  max-height: 100%;
  width: auto;
}
.slide img.vertical{
  max-width: 100%;
  height: auto;
}
.slideshow-nav{
  width: 500px;
  margin: -175px auto 0 auto;
  padding: 10px;
  text-align: center;
  overflow: auto;
}
.nav-link{
  transition: color 0.25s linear;
  padding: 0px 5px;
}
.nav-link:hover{
  color: #222;
}
.nav-link em{

}
.previous{
  float: left;
}

.next{
  float: right;
}



