/*
Project Name: Haley Smith Portfolio Site
Developer: @needleinthehaley in Chicago
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
	font-family: 'Varela Round', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
.bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: #a6d8de;
	background-size: cover;
	z-index: -1;
}


#wrapper {
	width: 50%;
 	height: 90%;
 	overflow: auto;
 	margin: auto;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

h1, h2, p, ul, h4 {
	text-align: center;
	width: 100%;
}

h3 {
	padding-left: 40px;
}


a.button {
	display: inline-block;
	text-align: center;

}

ul {
	display: inline-block;
}

header {
	height: 120px;
	width: 100%;
}

nav div {
	float: right;
	display: inline-block;
	padding-right: 40px;
}

#tag {
	display: inline-block;
	padding-left: 40px;
	float: left;
}

.hamburger {
	width: 60px;
	height: 60px;
	float: right;
	display: inline-block;
	margin: 0;
	padding: 11px 0 0;
	border: 1px solid gray;
	display: none;
}

.container {
	position: relative;
	width: 100%;
	height: 400px;
}

.container li {
	float: left;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 10px;
}

.container li:first-of-type {
	margin-left: 4%;

}

footer {
	width: 100%;
	background-color: orange;
	margin-top: 20px;
	height: 100px;
}

#social_portfolio li {
	list-style-type: none;
	float: right;
	display: inline;
	margin-top: 15px;
	margin-left: 2%;
	margin-right: 2%;
}

a.hover_text {
    position: relative;
    text-align: center;
}

  a.hover_text:after {
    content: attr(title);
    position: absolute;
    max-width: 400px;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    color: white;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hover_text:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
  }



/******************************************
/* PAGES
/*******************************************/

/******************************************
/* SECTIONS
/*******************************************/
h1, h2, h3, p, #social {
	color: #fff;
 
 }

h1 {
	font-weight: 100;
	font-size: 60px;
	letter-spacing: 2px;
}

h2 {
	font-weight: 5;
	font-size: 18px;
	letter-spacing: 2px;
}

h4 {
	color: gray;
	font-weight: 100;
	font-size: 30px;
	letter-spacing: 2px;
}

p {
	font-weight: 5;
	font-size: 15px;
	letter-spacing: 2px;
}

nav a {
	text-decoration: none;
}

#tag, nav a {
	color: gray;
}

header {
	background-color: #a6d8de;
}

.button-container {
	text-align: center;
}

a.button {
	border: 1px solid transparent;
	width: 20%;
	outline: none;
	background-color: #ae9c96;
	padding: 20px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	transition: background-color .3s ease-in-out;

}

a.button:hover {
  background-color: #f9f1b5;
  border-color: #dddad6; 
  color: #ae9c96;
}

nav a:hover {
	color: #f9f1b5;
}

ul {
	list-style-type: none;
}


.hamburger li {
	height: 4px;
	width: 80%;
	margin: 6px auto;
}

/******************************************
/* SMALLER SCREENS
/*******************************************/

@media screen and (max-width: 800px) {
nav div {
	visibility: hidden;
}

.hamburger {
	display: block;
}

@media screen and (max-width: 1200px) {

nav div{
	width: 100%;
	float: none;
	margin: 10px 0 0;
}


