/*
Project Name: Haley Smith Portfolio Site
Developer: @needleinthehaley in Chicago
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
	font-family: 'Varela Round', sans-serif;
	background-color: #E75A32;
}

/******************************************
/* LAYOUT
/*******************************************/
/*.bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: #E75A32;
	background-size: cover;
	z-index: -10;
}*/


#wrapper {
	width: 50%;
 	height: 90%;
 	overflow: auto;
 	margin: auto;
 	position: absolute;
 	top: 0; left: 0; bottom: 0; right: 0;
}

h1, h2, p, ul {
	text-align: center;
	width: 100%;
}


.logo_tag h3 {
	position: absolute;
	margin-left: 200px;

}

header {
	position: relative;
	z-index: 20;
	width: 100%;
	display: inline-block;
}

#tag {
	margin-right: 5%;
	margin-top: 50px;
	float: right;
}

.positioning_statement {
	float: left;
	position: relative;
	z-index: 40;
	margin-left: 240px;
}

a.button {
	display: inline-block;
	text-align: center;

}

/*ul {
	display: inline-block;
}*/
/*
header {
	height: 120px;
	width: 100%;
}*/

/*nav li {
	float: right;
	display: inline-block;
	padding-right: 40px;
}*/

/*#tag {
	display: inline-block;
	padding-left: 40px;
	float: left;
}*/

.hamburger {
	width: 60px;
	height: 60px;
	float: right;
	display: inline-block;
	margin: 0;
	padding: 11px 0 0;
	border: 1px solid gray;
	display: none;
}

.container {
	position: relative;
	width: 100%;
	height: 400px;
}

.container li {
	float: left;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 10px;
}

.container li:first-of-type {
	margin-left: 4%;

}


footer {
	width: 100%;
	margin-top: 20px;
	height: 100px;
}

#social li {
	list-style-type: none;
	float: right;
	margin-top: 15px;
	margin-left: 2%;
	margin-right: 2%;
}

a.hover_text {
    position: relative;
    text-align: center;
}

  a.hover_text:after {
    content: attr(title);
    position: absolute;
    max-width: 400px;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    color: white;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hover_text:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
  }



/******************************************
/* Portfolio Page
/*******************************************/

.capes {
	background-image: url('../images/cape_icons.png');
	background-color: white;
	background-image: no-repeat;
	height: 300px;
}

.main_wrap {
	float: right;
	width: 90%;
}
/*
.container_1 {
	margin-top: 50px;
}*/

.container_2 {
	display: flex;
	min-height: 100vh;
	flex-direction: row;
}

.one-third {
	flex-basis: 33.333333333%;
	max-width: 33.333333333%;
}

.msi {
	color: gray;
	flex: 1;
	margin: 0;

}

.dio img, .keiser img, .msi img {
	width: 100%;
	height: 100%;
}

.keiser {
	color: gray;
	flex: 2;
	margin: 0;

}

.dio {
	color: gray;
	flex: 3;
	margin: 0;
}

.overlay p {
  text-align: center;
  font-size: 40px;
  margin: 0;
  line-height: 257px;
  color: white;
}

.overlay_wrapper {
  width: 500px;
  height: 500px;
  margin: 0;
  position: relative;
}

.overlay_wrapper:hover .overlay {
  background-color: #edff6a;
}

.overlay {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #D3D3D3;
  position: absolute;
  top: 0;
  transition: background-color 250ms ease-out;
}


/******************************************
/* SECTIONS
/*******************************************/
h1, h2, h3, p, #social {
	color: white;
 
 }

h1 {
	font-weight: 100;
	font-size: 60px;
	letter-spacing: 2px;
}

h2 {
	font-weight: 5;
	font-size: 18px;
	letter-spacing: 2px;
}

h3 {
	font-weight: 80;
	font-size: 40px;
	letter-spacing: 2px;
}

h4 {
	color: #F2DEE6;
	font-weight: 100;
	font-size: 30px;
	letter-spacing: 2px;
}

#tag {
	font-weight: 5;
	font-size: 20px;
	letter-spacing: 2px;
}

/*nav a {
	text-decoration: none;
}*/

#tag, nav a {
	color: #666;
}

.positioning_statement {
	min-height: 300px;
	max-width: 800px;
	border-color: black;
	border: 1px;
	background-color: pink;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;

}

.positioning_statement p {
	width: 100%;
	margin-top: 10%;
	margin-bottom: 0;
	padding-right: 20px;
	padding-left: 20px;
	color: gray;
	font-family: 'Lora';
	font-size: 20px;
	line-height: 1.75;
}

.button-container {
	text-align: center;
}

a.button {
	border: 1px solid transparent;
	width: 20%;
	outline: none;
	background-color: #202020;
	padding: 20px;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	transition: background-color .3s ease-in-out;

}

a.button:hover {
  background-color: #ED7353;
  border-color: #ED7353; 
  color: #ae9c96;
}

/*nav a:hover {
	color: #f9f1b5;
}*/

ul {
	list-style-type: none;
}


.hamburger li {
	height: 4px;
	width: 80%;
	margin: 6px auto;
}

/******************************************
/* SMALLER SCREENS
/*******************************************/

/*@media screen and (max-width: 800px) {
nav li {
	visibility: hidden;
}

.hamburger {
	display: block;
}

@media screen and (max-width: 1200px) {

nav li {
	width: 100%;
	float: none;
	margin: 10px 0 0;
}*/

/******************************************
/* Vertical Nav
/*/
#sidebar {
	float: left;
	height: 100%;
	width: 14%;
	z-index: 10;
	position: fixed;
	display: inline;	
	background: #E78A7F;
	padding: 50px;
	margin: 0;
}

nav .portfolio {
  list-style: none;
  font-size: 1em;
  padding: 0;
  margin-top: 100px;
  position: relative;

}

.sub_portfolio {
	list-style: none;
	font-size: 1em;
	padding: 0;
	margin-top: 0px;
	position: relative;
}

.nav_pop {
	z-index: 1000;
	position: absolute;
}

nav li a{
  text-decoration: none;
  display: block;
}

nav .portfolio li a{
  padding: 5px 10px 5px 10px;
  background: #E78A7F;
  color: white;
}

nav .sub_portfolio li a{ background: white; color: #E75A32;}

nav .portfolio a:hover{ background: #E75A32;}
nav .sub_portfolio a:hover{ background: #999;}

ul.portfolio > li:hover > ul.sub_portfolio{ 
  display: block; 
  position: absolute;
  left: 150px; top: 0;
}

ul.portfolio > li{ position: relative; z-index: 1000;}

ul.sub_portfolio{ display: none; }

.plus{ float: right; } 

/******************************************
/* About
/*/
@baseBg: #ececec;
@baseTxt: #3f3739;
@hoverColor: #5fd8dd;

a{
  color: @baseTxt;
  text-decoration: none;
}

.slideshow {
  float: right;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: 300px;
}

.slide {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 4px solid #fff;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity 1.5s ease-in-out;
}

.about_overlay{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
}
.about_overlay-shadow{
  box-shadow: inset 0px 0px 10px #000;
  opacity: 0.6;

}
.about_overlay-highlight{
  background: -webkit-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -moz-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -ms-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  opacity: 0.4;
}

.active{
  opacity: 1;
}

.slide img.horizontal{
  max-height: 100%;
  width: auto;
}
.slide img.vertical{
  max-width: 100%;
  height: auto;
}

.about {
	float: right;
	position: absolute;
	margin-left:35%;
	margin-top: 17%;
	width: 700px;
	background-color: #F2DEE6;
	padding: 40px;
	z-index: -1;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.about p {
	line-height: 1.5;
	font-size: 20px;
}

.about p::first-letter {
	font-size: 60px;
	line-height: 1;
}

.about p {
	color: gray;
	font-family: 'Lora';

}

/******************************************
/* Experience
/*/


#cv {
	width: 100%;
	margin-top: 150px;
	margin-left: 250px;
	margin-right: 200px;
}

.sectionTitle h4 {
	margin-left: 150px;
}

.sectionContent {
	margin-left: 150px;
	margin-right: 150px;
}

.sectionTitle h4 {
	font-size: 25px;
}

.sectionContent article {
}




